.titlebar {
    position: absolute;
    background-color : teal;
    left : 0px;
    right : 0px;
    top : 0px; 
    height : 180px;
    text-align: center;
}

.fuckedupface {
    animation: spin 4s infinite;
    animation-fill-mode: none;
    animation-timing-function: linear;
}

@keyframes spin {
    0% { transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

.headertitle {
    font-family: monospace;
    color : bisque;
}

.body {
    position: absolute;
    top : 180px;
    left : 0px;
    right : 0px; 

}